<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="admin.html"/>
  <head>
    <title>Metagroup–Syllabus connections</title>
  </head>

  <body>
    <h2>Manage Metagroup–Syllabus connections</h2>

    <py:choose test="view">
      <form py:when="'detail'" class="mod" method="post" action="">
        <fieldset>
          <legend>Connect Metagroup with Syllabus:</legend>
          <div class="field">
            <p><strong>Metagroup:</strong> ${metagroup.name}</p>
          </div>
          <div class="field">
            <label>Syllabus:
              <select name="linked_syllabus">
                <option value="">(No syllabus)</option>
                <option py:for="s in syllabuses" selected="${s.id==syllabus_id or None}" value="${s.id}">
                  ${s.name}
                </option>
              </select>
            </label>
          </div>
          <div class="buttons">
            <input type="submit" name="cancel" value="${_('Cancel')}"/>
            <input type="submit" name="save" value="${_('Save')}"/>
          </div>
        </fieldset>
      </form>

      <py:otherwise>

        <table class="listing">
          <thead>
            <tr>
              <th colspan="2">Metagroup</th>
              <th colspan="2">Syllabus</th>
            </tr>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>ID</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr py:for="metagroup, syllabus in items">
              <td class="id">${metagroup.id}</td>
              <td class="name">
                <a href="${panel_href(metagroup.id)}">${metagroup.name}</a>
              </td>
              <py:choose test="syllabus is not None">
                <py:when test="True">
                  <td class="id">${syllabus.id}</td>
                  <td class="name">
                    <a href="${href.admin('syllabuses', 'syllabuses', syllabus.id)}"
                      title="${_('Edit syllabus')}">${syllabus.name}</a>
                  </td>
                </py:when>
                <td py:otherwise="" colspan="2">(No syllabus)</td>
              </py:choose>
            </tr>
          </tbody>
        </table>

      </py:otherwise>
    </py:choose>
  </body>

</html>
