<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">

	<xi:include href="layout.html" />

	<head>
		<title>Session parameters</title>
	</head>
	<body>
		<div id="content">
			<h1>Setting up session parameters</h1>
			<form py:choose="step" action="/postlogin" method="post">
				<fieldset py:when="set_role">
					<legend>User role</legend>
					<select name="role">
						<option py:for="role_id, role_name in roles" value="${role_id}">${role_name}</option>
					</select>
				</fieldset>
				<fieldset py:when="set_project">
					<legend>Project</legend>
					<select name="project">
						<option py:for="project_id, project_name in projects" value="${project_id}">${project_name}</option>
					</select>
				</fieldset>
				<input type="submit" value="${_('Continue')}" />
			</form>
		</div>
	</body>
</html>
