<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="admin.html"/>
  <head>
    <title>Groups</title>
  </head>

  <body>
    <h2>Manage Groups</h2>

    <py:choose test="view">
      <form py:when="'detail'" class="mod" method="post" action="">
        <fieldset>
          <legend>Modify Group:</legend>
          <div class="field">
            <label>Name:<br/><input type="text" name="name" value="${name}" size="60" /></label>
          </div>
          <div class="field">
            <label>Metagroup:<br/>
              <select name="metagroup">
                <option value="">(No metagroup)</option>
                <option py:for="id, name in metagroups" selected="${id==metagroup_id or None}" value="${id}">
                  ${name}
                </option>
              </select>
            </label>
          </div>
          <div class="field">
            <fieldset class="iefix">
              <label for="description" i18n:msg="">
                Description (you may use <a tabindex="42" href="${href.wiki('TranslationRu','WikiFormatting')}">WikiFormatting</a> here):
              </label>
              <p>
                <textarea id="description" name="description" class="wikitext trac-resizable"
                          rows="6" cols="60" py:content="description"></textarea>
              </p>
            </fieldset>
          </div>
          <div class="buttons">
            <input type="submit" name="cancel" value="${_('Cancel')}"/>
            <input type="submit" name="save" value="${_('Save')}"/>
          </div>
        </fieldset>
      </form>

      <py:otherwise>
        <form class="addnew" method="post" action="">
          <fieldset>
            <legend>Add Group:</legend>
            <div class="field">
              <label>Name:<br/><input type="text" name="name" value="${name}"/></label>
            </div>
            <div class="buttons">
              <input type="submit" name="add" value="${_('Add')}"/>
            </div>
          </fieldset>
        </form>

        <form method="post" action="">
          <table class="listing">
            <thead>
              <tr>
                <th class="sel">&nbsp;</th>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Metagroup</th>
              </tr>
            </thead>
            <tbody>
              <tr py:for="group, meta_id, meta_name in items">
                <td class="sel"><input type="checkbox" name="sel" value="${group.id}"/></td>
                <td class="id">${group.id}</td>
                <td class="name">
                  <a href="${panel_href(group.id)}">${group.name}</a>
                </td>
                <td class="description">${wiki_to_oneliner(context, group.description, shorten=True)}</td>
                <py:choose test="meta_id is not None">
                  <td py:when="True" class="name">
                    <a href="${href.admin('groups', 'metagroups', meta_id)}">${meta_name}</a>
                  </td>
                  <td py:otherwise="">(No metagroup)</td>
                </py:choose>
              </tr>
            </tbody>
          </table>
          <div class="buttons">
            <input type="submit" name="remove" value="${_('Remove selected items')}"/>
          </div>
        </form>
      </py:otherwise>
    </py:choose>
  </body>

</html>
